*{
  margin: 0;
  padding: 0;
}

/* @media (max-width: 659px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
} */ 
.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
/*------------------------- 
*共通：ヘッダー
-------------------------*/
.user-header {
  width:100%;
  height: 60px;
  display: flex;
  background-color: #7a7a7a41;
  align-items: center;
  box-shadow: #9e9e9e31;
  position:absolute;
  z-index: 99;
}
.user-header-wrapper {
  width:980px;
  margin: 0 auto;
}
.brand {
  font-weight: bold;
  font-size: 20px;
  float: left;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.nav {
  float: right;
  display: flex;
  list-style: none;
}
.user-header-wrapper li {
  list-style: none;
  display: inline-block;
  padding: 12px 10px 10px;
}
.user-header-wrapper li a {
  text-decoration: none;
  color: white;
}
.user-header-wrapper li a:hover {
  text-decoration: underline;
}

/*------------------------- 
*共通：フッター
-------------------------*/
.user-footer {
  width: 100%;
  height: 100%;
  background-color: #424242;
  box-shadow: #9e9e9e31;
}
.footer-flex-wrapper {
  margin-top: 50px;
  /* padding-top: 30px;  */
  display: flex;
  flex-wrap: wrap;
}
.footer-wrapper {
  width: 33%;
  box-shadow: #fff;
}
.footer-wrapper h3 {
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
}
.footer-wrapper li {
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
}
.footer-wrapper li a {
  text-decoration: none;
  color: rgb(179, 179, 179);
}
.footer-wrapper li a:hover {
  text-decoration: underline;
}


.footer-center {
  margin-top: 50px;
  border-top: 0.5px solid rgb(179, 179, 179);
  padding: 30px 0 30px;
  text-align: center;
}
.footer-center h2{
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.footer-center li {
  list-style: none;
  display: inline-block;
}
.footer-center li a {
  list-style: none;
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-size: 12px;
  padding: 8px;
}
.footer-center li a:hover {
  text-decoration: underline;
}
.footer-center p {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: rgb(179, 179, 179);
}