/*------------------------- 
*メイン：トップイメージ
-------------------------*/
body {
    margin: 0;
    padding: 0;
}
.top-image-container {
    width:100%;
    height: 680px;
    background-image: url("/images/top-image03.jpg");
    background-size: cover;
    position: relative;
}
.top-image-container::before {
    content: '';
    /* ↓暗いオーバーレイを半透明で配置 */
    background-color: rgba(0, 0, 0, 0.4);
    /* ↓全体を覆うように配置 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;  
    z-index: 0;
}
.top-image-container h1{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 20%;
}
h3 {
    text-align: center;
    margin: 50px 0 ;
}

/*------------------------- 
*メイン：検索欄
-------------------------*/
/*フォーム全体*/
#form1{
    position: relative;
    max-width:100%;/*フォームのサイズ*/
    bottom: 0;
    margin-top: 220px;
    }
    .button-justify {
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    .button-flex {
        display: flex;
        width: 33.333%;
    }
    /*検索ボックス*/
    #sbox {
    display: flex;
    width: 50%;
    height:45px;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 	
    background:rgb(255, 255, 255);/*検索ボックスの背景カラー*/	
    border:solid 0.5px rgb(153, 153, 153);/*検索ボタンの枠線を消す*/ 	
    }
    /*検索ボタン*/
    #sbtn {
    width:25%;/*検索ボタンの横幅*/ 
    height:45px;/*検索ボタンの縦幅*/ 
    border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
    background:#5a8a6c;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
    }
    /*検索ボタンマウスオーバー時*/
    #sbtn:hover{
    color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
    }


/* -----------
** NEWエリア
------------ */
/* .new-area-container {
    margin-top: 10%;
} */
.new-area-flex {
    display: flex;
    width:100%;
}
.img-block {
    width: 24%;
    height: 180px;
    padding: 10px;
    display: inline-block;
}
.img-block img {
    width: 100%;
    height: 100%;
}
/* -----------
** SEARCH AREA
------------ */
.search-area-container {
    text-align: center;
}
.search-area-container img {
    width: auto;
}
/* -----------
** NEWS
------------ */
.new-area-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.blog {
    display: flex;
    width: 46%;
    flex-direction: row;
    height: 120px;
    margin: 2% 2% 2% 0;
}
.blog .image-box {
    width: 40%;
}
.blog .image-box img {
    width: 100%;
    height: 100%;
    /* flex-basis: 100%; */
}
.blog .top-news-text {
    width: 50%;
    margin-left: 2%;
    padding: 10px 0 10px ;
    text-align: left;
}
.blog .top-news-text h4 {
    color: rgb(90, 90, 90);
    margin-bottom: 10%;
}
.blog .top-news-text p {
    color: lightgray;
    font-size: 12px;
}